<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="EndpointUrl" value="opc.tcp://localhost:51210/CygNetOpcUaServer"/>
        <add key="Username" value="username"/>
        <add key="Password" value="password"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
